.top-bar {
  background-color: #32b265;
  width: 100%;
  height: 100px;
  margin-top: 0;
}

.logo-pic {
  background-image: url(../images/NFL-Logo.png);
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: center;
}

.account {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
}

.profile-pic {
  background-image: url(../images/Profile-Icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.week {
  text-align: center;
}

.week h2 {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.team-1 {
  height: 35%;
  position: absolute;
  left: 10%;
}

.team-1 p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  bottom: 0;
}

#teams {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin: 0 auto;
}

#teams td,
#teams th {
  padding: 8px;
  border: 3px solid black;
}

#teams td:nth-child(odd) {
  border: 3px solid red;
  color: red;
}

#teams th:nth-child(odd) {
  border: 3px solid red;
  color: red;
}

#teams td:first-child {
    border: 3px solid black;
    color: black;
}

#teams th:first-child {
    border: 3px solid black;
    color: black;
}

#teams td:hover {
  background-color: #ddd;
}

#teams th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.team-2 {
  position: absolute;
  top: 30%;
  right: 10%;
}

.team-2 p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  bottom: 0;
}

.compile {
  margin: 0 auto;
  flex: 1;
  text-align: center;
  align-items: center;
}

.compile button {
  background-color: #39cc74;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  width: 225px;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  margin: 30px auto;
}

.compile span {
  display: block;
}

.quarters {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 10%;
}
