.top-bar {
  background-color: #32b265;
  width: 100%;
  height: 100px;
  margin-top: 0;
}

.logo-pic {
  background-image: url(../images/NFL-Logo.png);
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: center;
}

.account {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  position: absolute;
  display: flex;
  top: 20px;
  right: 15px;
}

.account span {
    display: block;
    margin-top: 3px;
  }

.profile-pic {
  float: right;
  margin-top: 10px;
  width: auto;
  height: 40px;
}

.week {
  text-align: center;
}

.week h2 {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.team-1 {
  height: 35%;
  position: absolute;
  top: 23%;
  left: 12%;
  text-align: center;
  align-items: center;
}

.team-1 p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  bottom: 0;
}

.team-1 img {
    height: 50%;
    width: auto;
}

#teams {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin: 0 auto;
}

#teams td,
#teams th {
  padding: 8px;
  border: 3px solid black;
}

#teams td:nth-child(odd) {
  border: 3px solid red;
  color: red;
}

#teams th:nth-child(odd) {
  border: 3px solid red;
  color: red;
}

#teams td:first-child {
    border: 3px solid black;
    color: black;
}

#teams th:first-child {
    border: 3px solid black;
    color: black;
}

#teams td:hover {
  background-color: #ddd;
}

#teams th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.team-2 {
  height: 35%;
  position: absolute;
  top: 23%;
  right: 12%;
  width: 170px;
  text-align: center;
}

.team-2 p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  bottom: 0;
}

.team-2 img {
    height: 50%;
    width: auto;
}

.compile {
  margin: 0 auto;
  flex: 1;
  text-align: center;
  align-items: center;
}

.compile button {
  background-color: #39cc74;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  width: 225px;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  margin: 30px auto;
}

.compile span {
  display: block;
}

.quarters {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  overflow: scroll;
  height: 400px;
  width: 1200px;
  margin-left: 10px;
}

.quarters p {
    margin-left: 23%;
}

.q-table-1 {
    margin: auto;
    border-spacing: 10px;
    margin-left: 28%;
}

.q-table-1 td {
    padding: 0 20px;
}

.q-table-1 img{
    width: 40px;
    height: auto;
}

.q-table-2 {
  margin: auto;
  border-spacing: 10px;
  margin-left: 28%;
}

.q-table-2 td {
  padding: 0 19px;
}

.q-table-2 img{
  width: 40px;
  height: auto;
}

.q-table-3 {
  margin: auto;
  border-spacing: 10px;
  margin-left: 28%;
}

.q-table-3 td {
  padding: 0 20px;
}

.q-table-3 img{
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.q-table-4 {
  margin: auto;
  border-spacing: 10px;
  margin-left: 28%;
}

.q-table-4 td {
  padding: 0 17px;
}

.q-table-4 img{
  width: 40px;
  height: auto;
  margin-right: 8px;
}